NET "clk" LOC=X; # clk:0
NET "rst" LOC=X; # rst:1
NET "wb_ctrl_adr(0)" LOC=X; # wb_ctrl:0.adr
NET "wb_ctrl_adr(1)" LOC=X; # wb_ctrl:0.adr
NET "wb_ctrl_adr(2)" LOC=X; # wb_ctrl:0.adr
NET "wb_ctrl_adr(3)" LOC=X; # wb_ctrl:0.adr
NET "wb_ctrl_adr(4)" LOC=X; # wb_ctrl:0.adr
NET "wb_ctrl_adr(5)" LOC=X; # wb_ctrl:0.adr
NET "wb_ctrl_adr(6)" LOC=X; # wb_ctrl:0.adr
NET "wb_ctrl_adr(7)" LOC=X; # wb_ctrl:0.adr
NET "wb_ctrl_adr(8)" LOC=X; # wb_ctrl:0.adr
NET "wb_ctrl_adr(9)" LOC=X; # wb_ctrl:0.adr
NET "wb_ctrl_adr(10)" LOC=X; # wb_ctrl:0.adr
NET "wb_ctrl_adr(11)" LOC=X; # wb_ctrl:0.adr
NET "wb_ctrl_adr(12)" LOC=X; # wb_ctrl:0.adr
NET "wb_ctrl_adr(13)" LOC=X; # wb_ctrl:0.adr
NET "wb_ctrl_adr(14)" LOC=X; # wb_ctrl:0.adr
NET "wb_ctrl_adr(15)" LOC=X; # wb_ctrl:0.adr
NET "wb_ctrl_adr(16)" LOC=X; # wb_ctrl:0.adr
NET "wb_ctrl_adr(17)" LOC=X; # wb_ctrl:0.adr
NET "wb_ctrl_adr(18)" LOC=X; # wb_ctrl:0.adr
NET "wb_ctrl_adr(19)" LOC=X; # wb_ctrl:0.adr
NET "wb_ctrl_adr(20)" LOC=X; # wb_ctrl:0.adr
NET "wb_ctrl_adr(21)" LOC=X; # wb_ctrl:0.adr
NET "wb_ctrl_adr(22)" LOC=X; # wb_ctrl:0.adr
NET "wb_ctrl_adr(23)" LOC=X; # wb_ctrl:0.adr
NET "wb_ctrl_adr(24)" LOC=X; # wb_ctrl:0.adr
NET "wb_ctrl_adr(25)" LOC=X; # wb_ctrl:0.adr
NET "wb_ctrl_adr(26)" LOC=X; # wb_ctrl:0.adr
NET "wb_ctrl_adr(27)" LOC=X; # wb_ctrl:0.adr
NET "wb_ctrl_adr(28)" LOC=X; # wb_ctrl:0.adr
NET "wb_ctrl_adr(29)" LOC=X; # wb_ctrl:0.adr
NET "wb_ctrl_dat_w(0)" LOC=X; # wb_ctrl:0.dat_w
NET "wb_ctrl_dat_w(1)" LOC=X; # wb_ctrl:0.dat_w
NET "wb_ctrl_dat_w(2)" LOC=X; # wb_ctrl:0.dat_w
NET "wb_ctrl_dat_w(3)" LOC=X; # wb_ctrl:0.dat_w
NET "wb_ctrl_dat_w(4)" LOC=X; # wb_ctrl:0.dat_w
NET "wb_ctrl_dat_w(5)" LOC=X; # wb_ctrl:0.dat_w
NET "wb_ctrl_dat_w(6)" LOC=X; # wb_ctrl:0.dat_w
NET "wb_ctrl_dat_w(7)" LOC=X; # wb_ctrl:0.dat_w
NET "wb_ctrl_dat_w(8)" LOC=X; # wb_ctrl:0.dat_w
NET "wb_ctrl_dat_w(9)" LOC=X; # wb_ctrl:0.dat_w
NET "wb_ctrl_dat_w(10)" LOC=X; # wb_ctrl:0.dat_w
NET "wb_ctrl_dat_w(11)" LOC=X; # wb_ctrl:0.dat_w
NET "wb_ctrl_dat_w(12)" LOC=X; # wb_ctrl:0.dat_w
NET "wb_ctrl_dat_w(13)" LOC=X; # wb_ctrl:0.dat_w
NET "wb_ctrl_dat_w(14)" LOC=X; # wb_ctrl:0.dat_w
NET "wb_ctrl_dat_w(15)" LOC=X; # wb_ctrl:0.dat_w
NET "wb_ctrl_dat_w(16)" LOC=X; # wb_ctrl:0.dat_w
NET "wb_ctrl_dat_w(17)" LOC=X; # wb_ctrl:0.dat_w
NET "wb_ctrl_dat_w(18)" LOC=X; # wb_ctrl:0.dat_w
NET "wb_ctrl_dat_w(19)" LOC=X; # wb_ctrl:0.dat_w
NET "wb_ctrl_dat_w(20)" LOC=X; # wb_ctrl:0.dat_w
NET "wb_ctrl_dat_w(21)" LOC=X; # wb_ctrl:0.dat_w
NET "wb_ctrl_dat_w(22)" LOC=X; # wb_ctrl:0.dat_w
NET "wb_ctrl_dat_w(23)" LOC=X; # wb_ctrl:0.dat_w
NET "wb_ctrl_dat_w(24)" LOC=X; # wb_ctrl:0.dat_w
NET "wb_ctrl_dat_w(25)" LOC=X; # wb_ctrl:0.dat_w
NET "wb_ctrl_dat_w(26)" LOC=X; # wb_ctrl:0.dat_w
NET "wb_ctrl_dat_w(27)" LOC=X; # wb_ctrl:0.dat_w
NET "wb_ctrl_dat_w(28)" LOC=X; # wb_ctrl:0.dat_w
NET "wb_ctrl_dat_w(29)" LOC=X; # wb_ctrl:0.dat_w
NET "wb_ctrl_dat_w(30)" LOC=X; # wb_ctrl:0.dat_w
NET "wb_ctrl_dat_w(31)" LOC=X; # wb_ctrl:0.dat_w
NET "wb_ctrl_dat_r(0)" LOC=X; # wb_ctrl:0.dat_r
NET "wb_ctrl_dat_r(1)" LOC=X; # wb_ctrl:0.dat_r
NET "wb_ctrl_dat_r(2)" LOC=X; # wb_ctrl:0.dat_r
NET "wb_ctrl_dat_r(3)" LOC=X; # wb_ctrl:0.dat_r
NET "wb_ctrl_dat_r(4)" LOC=X; # wb_ctrl:0.dat_r
NET "wb_ctrl_dat_r(5)" LOC=X; # wb_ctrl:0.dat_r
NET "wb_ctrl_dat_r(6)" LOC=X; # wb_ctrl:0.dat_r
NET "wb_ctrl_dat_r(7)" LOC=X; # wb_ctrl:0.dat_r
NET "wb_ctrl_dat_r(8)" LOC=X; # wb_ctrl:0.dat_r
NET "wb_ctrl_dat_r(9)" LOC=X; # wb_ctrl:0.dat_r
NET "wb_ctrl_dat_r(10)" LOC=X; # wb_ctrl:0.dat_r
NET "wb_ctrl_dat_r(11)" LOC=X; # wb_ctrl:0.dat_r
NET "wb_ctrl_dat_r(12)" LOC=X; # wb_ctrl:0.dat_r
NET "wb_ctrl_dat_r(13)" LOC=X; # wb_ctrl:0.dat_r
NET "wb_ctrl_dat_r(14)" LOC=X; # wb_ctrl:0.dat_r
NET "wb_ctrl_dat_r(15)" LOC=X; # wb_ctrl:0.dat_r
NET "wb_ctrl_dat_r(16)" LOC=X; # wb_ctrl:0.dat_r
NET "wb_ctrl_dat_r(17)" LOC=X; # wb_ctrl:0.dat_r
NET "wb_ctrl_dat_r(18)" LOC=X; # wb_ctrl:0.dat_r
NET "wb_ctrl_dat_r(19)" LOC=X; # wb_ctrl:0.dat_r
NET "wb_ctrl_dat_r(20)" LOC=X; # wb_ctrl:0.dat_r
NET "wb_ctrl_dat_r(21)" LOC=X; # wb_ctrl:0.dat_r
NET "wb_ctrl_dat_r(22)" LOC=X; # wb_ctrl:0.dat_r
NET "wb_ctrl_dat_r(23)" LOC=X; # wb_ctrl:0.dat_r
NET "wb_ctrl_dat_r(24)" LOC=X; # wb_ctrl:0.dat_r
NET "wb_ctrl_dat_r(25)" LOC=X; # wb_ctrl:0.dat_r
NET "wb_ctrl_dat_r(26)" LOC=X; # wb_ctrl:0.dat_r
NET "wb_ctrl_dat_r(27)" LOC=X; # wb_ctrl:0.dat_r
NET "wb_ctrl_dat_r(28)" LOC=X; # wb_ctrl:0.dat_r
NET "wb_ctrl_dat_r(29)" LOC=X; # wb_ctrl:0.dat_r
NET "wb_ctrl_dat_r(30)" LOC=X; # wb_ctrl:0.dat_r
NET "wb_ctrl_dat_r(31)" LOC=X; # wb_ctrl:0.dat_r
NET "wb_ctrl_sel(0)" LOC=X; # wb_ctrl:0.sel
NET "wb_ctrl_sel(1)" LOC=X; # wb_ctrl:0.sel
NET "wb_ctrl_sel(2)" LOC=X; # wb_ctrl:0.sel
NET "wb_ctrl_sel(3)" LOC=X; # wb_ctrl:0.sel
NET "wb_ctrl_cyc" LOC=X; # wb_ctrl:0.cyc
NET "wb_ctrl_stb" LOC=X; # wb_ctrl:0.stb
NET "wb_ctrl_ack" LOC=X; # wb_ctrl:0.ack
NET "wb_ctrl_we" LOC=X; # wb_ctrl:0.we
NET "wb_ctrl_cti(0)" LOC=X; # wb_ctrl:0.cti
NET "wb_ctrl_cti(1)" LOC=X; # wb_ctrl:0.cti
NET "wb_ctrl_cti(2)" LOC=X; # wb_ctrl:0.cti
NET "wb_ctrl_bte(0)" LOC=X; # wb_ctrl:0.bte
NET "wb_ctrl_bte(1)" LOC=X; # wb_ctrl:0.bte
NET "wb_ctrl_err" LOC=X; # wb_ctrl:0.err
NET "wb_dma_adr(0)" LOC=X; # wb_dma:0.adr
NET "wb_dma_adr(1)" LOC=X; # wb_dma:0.adr
NET "wb_dma_adr(2)" LOC=X; # wb_dma:0.adr
NET "wb_dma_adr(3)" LOC=X; # wb_dma:0.adr
NET "wb_dma_adr(4)" LOC=X; # wb_dma:0.adr
NET "wb_dma_adr(5)" LOC=X; # wb_dma:0.adr
NET "wb_dma_adr(6)" LOC=X; # wb_dma:0.adr
NET "wb_dma_adr(7)" LOC=X; # wb_dma:0.adr
NET "wb_dma_adr(8)" LOC=X; # wb_dma:0.adr
NET "wb_dma_adr(9)" LOC=X; # wb_dma:0.adr
NET "wb_dma_adr(10)" LOC=X; # wb_dma:0.adr
NET "wb_dma_adr(11)" LOC=X; # wb_dma:0.adr
NET "wb_dma_adr(12)" LOC=X; # wb_dma:0.adr
NET "wb_dma_adr(13)" LOC=X; # wb_dma:0.adr
NET "wb_dma_adr(14)" LOC=X; # wb_dma:0.adr
NET "wb_dma_adr(15)" LOC=X; # wb_dma:0.adr
NET "wb_dma_adr(16)" LOC=X; # wb_dma:0.adr
NET "wb_dma_adr(17)" LOC=X; # wb_dma:0.adr
NET "wb_dma_adr(18)" LOC=X; # wb_dma:0.adr
NET "wb_dma_adr(19)" LOC=X; # wb_dma:0.adr
NET "wb_dma_adr(20)" LOC=X; # wb_dma:0.adr
NET "wb_dma_adr(21)" LOC=X; # wb_dma:0.adr
NET "wb_dma_adr(22)" LOC=X; # wb_dma:0.adr
NET "wb_dma_adr(23)" LOC=X; # wb_dma:0.adr
NET "wb_dma_adr(24)" LOC=X; # wb_dma:0.adr
NET "wb_dma_adr(25)" LOC=X; # wb_dma:0.adr
NET "wb_dma_adr(26)" LOC=X; # wb_dma:0.adr
NET "wb_dma_adr(27)" LOC=X; # wb_dma:0.adr
NET "wb_dma_adr(28)" LOC=X; # wb_dma:0.adr
NET "wb_dma_adr(29)" LOC=X; # wb_dma:0.adr
NET "wb_dma_dat_w(0)" LOC=X; # wb_dma:0.dat_w
NET "wb_dma_dat_w(1)" LOC=X; # wb_dma:0.dat_w
NET "wb_dma_dat_w(2)" LOC=X; # wb_dma:0.dat_w
NET "wb_dma_dat_w(3)" LOC=X; # wb_dma:0.dat_w
NET "wb_dma_dat_w(4)" LOC=X; # wb_dma:0.dat_w
NET "wb_dma_dat_w(5)" LOC=X; # wb_dma:0.dat_w
NET "wb_dma_dat_w(6)" LOC=X; # wb_dma:0.dat_w
NET "wb_dma_dat_w(7)" LOC=X; # wb_dma:0.dat_w
NET "wb_dma_dat_w(8)" LOC=X; # wb_dma:0.dat_w
NET "wb_dma_dat_w(9)" LOC=X; # wb_dma:0.dat_w
NET "wb_dma_dat_w(10)" LOC=X; # wb_dma:0.dat_w
NET "wb_dma_dat_w(11)" LOC=X; # wb_dma:0.dat_w
NET "wb_dma_dat_w(12)" LOC=X; # wb_dma:0.dat_w
NET "wb_dma_dat_w(13)" LOC=X; # wb_dma:0.dat_w
NET "wb_dma_dat_w(14)" LOC=X; # wb_dma:0.dat_w
NET "wb_dma_dat_w(15)" LOC=X; # wb_dma:0.dat_w
NET "wb_dma_dat_w(16)" LOC=X; # wb_dma:0.dat_w
NET "wb_dma_dat_w(17)" LOC=X; # wb_dma:0.dat_w
NET "wb_dma_dat_w(18)" LOC=X; # wb_dma:0.dat_w
NET "wb_dma_dat_w(19)" LOC=X; # wb_dma:0.dat_w
NET "wb_dma_dat_w(20)" LOC=X; # wb_dma:0.dat_w
NET "wb_dma_dat_w(21)" LOC=X; # wb_dma:0.dat_w
NET "wb_dma_dat_w(22)" LOC=X; # wb_dma:0.dat_w
NET "wb_dma_dat_w(23)" LOC=X; # wb_dma:0.dat_w
NET "wb_dma_dat_w(24)" LOC=X; # wb_dma:0.dat_w
NET "wb_dma_dat_w(25)" LOC=X; # wb_dma:0.dat_w
NET "wb_dma_dat_w(26)" LOC=X; # wb_dma:0.dat_w
NET "wb_dma_dat_w(27)" LOC=X; # wb_dma:0.dat_w
NET "wb_dma_dat_w(28)" LOC=X; # wb_dma:0.dat_w
NET "wb_dma_dat_w(29)" LOC=X; # wb_dma:0.dat_w
NET "wb_dma_dat_w(30)" LOC=X; # wb_dma:0.dat_w
NET "wb_dma_dat_w(31)" LOC=X; # wb_dma:0.dat_w
NET "wb_dma_dat_r(0)" LOC=X; # wb_dma:0.dat_r
NET "wb_dma_dat_r(1)" LOC=X; # wb_dma:0.dat_r
NET "wb_dma_dat_r(2)" LOC=X; # wb_dma:0.dat_r
NET "wb_dma_dat_r(3)" LOC=X; # wb_dma:0.dat_r
NET "wb_dma_dat_r(4)" LOC=X; # wb_dma:0.dat_r
NET "wb_dma_dat_r(5)" LOC=X; # wb_dma:0.dat_r
NET "wb_dma_dat_r(6)" LOC=X; # wb_dma:0.dat_r
NET "wb_dma_dat_r(7)" LOC=X; # wb_dma:0.dat_r
NET "wb_dma_dat_r(8)" LOC=X; # wb_dma:0.dat_r
NET "wb_dma_dat_r(9)" LOC=X; # wb_dma:0.dat_r
NET "wb_dma_dat_r(10)" LOC=X; # wb_dma:0.dat_r
NET "wb_dma_dat_r(11)" LOC=X; # wb_dma:0.dat_r
NET "wb_dma_dat_r(12)" LOC=X; # wb_dma:0.dat_r
NET "wb_dma_dat_r(13)" LOC=X; # wb_dma:0.dat_r
NET "wb_dma_dat_r(14)" LOC=X; # wb_dma:0.dat_r
NET "wb_dma_dat_r(15)" LOC=X; # wb_dma:0.dat_r
NET "wb_dma_dat_r(16)" LOC=X; # wb_dma:0.dat_r
NET "wb_dma_dat_r(17)" LOC=X; # wb_dma:0.dat_r
NET "wb_dma_dat_r(18)" LOC=X; # wb_dma:0.dat_r
NET "wb_dma_dat_r(19)" LOC=X; # wb_dma:0.dat_r
NET "wb_dma_dat_r(20)" LOC=X; # wb_dma:0.dat_r
NET "wb_dma_dat_r(21)" LOC=X; # wb_dma:0.dat_r
NET "wb_dma_dat_r(22)" LOC=X; # wb_dma:0.dat_r
NET "wb_dma_dat_r(23)" LOC=X; # wb_dma:0.dat_r
NET "wb_dma_dat_r(24)" LOC=X; # wb_dma:0.dat_r
NET "wb_dma_dat_r(25)" LOC=X; # wb_dma:0.dat_r
NET "wb_dma_dat_r(26)" LOC=X; # wb_dma:0.dat_r
NET "wb_dma_dat_r(27)" LOC=X; # wb_dma:0.dat_r
NET "wb_dma_dat_r(28)" LOC=X; # wb_dma:0.dat_r
NET "wb_dma_dat_r(29)" LOC=X; # wb_dma:0.dat_r
NET "wb_dma_dat_r(30)" LOC=X; # wb_dma:0.dat_r
NET "wb_dma_dat_r(31)" LOC=X; # wb_dma:0.dat_r
NET "wb_dma_sel(0)" LOC=X; # wb_dma:0.sel
NET "wb_dma_sel(1)" LOC=X; # wb_dma:0.sel
NET "wb_dma_sel(2)" LOC=X; # wb_dma:0.sel
NET "wb_dma_sel(3)" LOC=X; # wb_dma:0.sel
NET "wb_dma_cyc" LOC=X; # wb_dma:0.cyc
NET "wb_dma_stb" LOC=X; # wb_dma:0.stb
NET "wb_dma_ack" LOC=X; # wb_dma:0.ack
NET "wb_dma_we" LOC=X; # wb_dma:0.we
NET "wb_dma_cti(0)" LOC=X; # wb_dma:0.cti
NET "wb_dma_cti(1)" LOC=X; # wb_dma:0.cti
NET "wb_dma_cti(2)" LOC=X; # wb_dma:0.cti
NET "wb_dma_bte(0)" LOC=X; # wb_dma:0.bte
NET "wb_dma_bte(1)" LOC=X; # wb_dma:0.bte
NET "wb_dma_err" LOC=X; # wb_dma:0.err
NET "sdcard_data(0)" LOC=X; # sdcard:0.data
NET "sdcard_data(1)" LOC=X; # sdcard:0.data
NET "sdcard_data(2)" LOC=X; # sdcard:0.data
NET "sdcard_data(3)" LOC=X; # sdcard:0.data
NET "sdcard_cmd" LOC=X; # sdcard:0.cmd
NET "sdcard_clk" LOC=X; # sdcard:0.clk
NET "sdcard_cd" LOC=X; # sdcard:0.cd
NET "irq" LOC=X; # irq:0
